body {
    background-image: url('/Extra/img.jpg'); /* your background image */
    background-size: cover;      /* cover full screen */
    background-position: center; /* center the image */
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    color: white;
}
